.text-center {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.container{
  width:400px;
  margin: auto;
}

input[type="text"]{
  padding:4px;
  width:350px;
  height:30px;
  border-radius:5px;
  border: #ccc solid 1px;
}

form div{
  margin-bottom:15px;
  line-height:2.2em;

}

label{
  text-align: center;
  font-size: large;
  border-bottom: red solid;
  font-weight: bold;
  
}

input[type=submit] {
    height: 30px;
    width: 400px;
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-size: 20px;
}

